h1{
    color:blue;
    background-color: black !important;
    font-family:Arial, Helvetica, sans-serif !important;
}

p{
    color:red;
}
h1{
    color:blue;
    background-color: white;
    font: arial;
}